* { 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.row {
    line-height: 0;
}

.cell {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.n {
    border-top: none;
}

.s {
    border-bottom: none;
}

.w {
    border-left: none;
}

.e {
    border-right: none;
}

