/* General */

html, body {
    height:100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
    width: 100%;
}

body {
    background-image: url('bg.jpg');
    background-attachment: fixed;
    padding: 50px 0;
    position: relative;    
    height:auto!important;
}

* { 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Header */

header {
    background: rgba(255,255,255,0.9);
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #999;
    margin: 0 auto 30px;
    padding: 30px 10px;
    position: relative;
    text-align: center;
    width: 300px;
}

header h1 {
    font-family: 'Croissant One', cursive;
    margin-bottom: 50px;
}

header input, 
header button {
    display: block;
    margin: 10px auto;
    width: 80px;
}

header button {
   border: 1px solid #bbbbbb;
   background: #eeeeee;
   background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
   background: -webkit-linear-gradient(top, #eeeeee, #dddddd);
   background: -moz-linear-gradient(top, #eeeeee, #dddddd);
   background: -ms-linear-gradient(top, #eeeeee, #dddddd);
   background: -o-linear-gradient(top, #eeeeee, #dddddd);
   padding: 4px 8px;
   border-radius: 2px;
   color: #333333;
   text-decoration: none;
   vertical-align: middle;
}

header button:hover,
header button:active {
   background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
   background: -webkit-linear-gradient(top, #eeeeee, #cccccc);
   background: -moz-linear-gradient(top, #eeeeee, #cccccc);
   background: -ms-linear-gradient(top, #eeeeee, #cccccc);
   background: -o-linear-gradient(top, #eeeeee, #cccccc);
   color: #333333;
}

#alice {
    position: absolute;
    bottom: 0;
    left: 20px;
}

/* Solve : cat  */

#solve {
    bottom: 0;
    position: absolute;
    right: 0;
}

#solve img.cat {
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 2s 1s;
    -moz-transition: opacity 2s 1s;
    -webkit-transition: opacity 2s 1s;
    -o-transition: opacity 2s 1s;
}

#solve p {
    background-image: url('text.png');
    font-family: 'Croissant One', cursive;
    font-size: 10px;
    line-height: 70px;
    height: 87px;
    opacity: 0;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 127px;
    transition: opacity 2s;
    -moz-transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;
}

#solve:hover img.cat {
    opacity: 1;
    transition: opacity 2s;
    -moz-transition: opacity 2s; /* Firefox 4 */
    -webkit-transition: opacity 2s; /* Safari and Chrome */
    -o-transition: opacity 2s; /* Opera */
}

#solve:hover p {
    opacity: 1;
    transition: opacity 2s 1s;
    -moz-transition: opacity 2s 1s;
    -webkit-transition: opacity 2s 1s;
    -o-transition: opacity 2s 1s;
}


/* Maze */

#content {
    text-align: center;
    padding-bottom: 100px; /* cat height */
}

.row {
    line-height: 0;
}

.cell {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid green;
    background: rgba(255,255,255,0.3);
}

.n {
    border-top: none;
}

.s {
    border-bottom: none;
}

.w {
    border-left: none;
}

.e {
    border-right: none;
}

.bc {
    background: rgba(255,255,255,0.7);
}

.current {
    background: rgba(255,255,255,0.9);
}